* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  background-color: #f3f8fe;
  color: #1e4159;
  text-align: center;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
}

.language {
  padding: 50px 0;
}

.language__title {
  font-weight: 700;
  font-size: 48px;
  color: #1e4159;
  text-align: center;
  margin-bottom: 50px;
}

.language__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.language__item {
  max-width: 300px;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  opacity: .8;
  transition: all .4s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.language__item:hover {
  opacity: 1;
  z-index: 1;
}

.language__item-img {
  max-width: inherit;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.language__item-info {
  padding: 20px;
  text-align: center;
}

.language__item-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 18px;
}

.language__item-text {
  font-size: 16px;
  line-height: 22px;
}

.language__item-link {
  color: #4089ED;
  position: relative;
  transition: all .3s;
}

.language__item-link:hover {
  color: #ed40d6;
}

.footer {
  padding: 20px 0;
  background-color: #f3f8fe;
  color: #1e4159;
  text-align: center;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.footer__social-item {
  margin-right: 10px;
  opacity: .7;
  transition: all .3s;
}

.footer__social-item:hover {
  opacity: 1;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__social-img {
  width: 36px;
}

@media (max-width: 980px) {
  .container {
    max-width: 800px;
  }
  .language__grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }
  .language__item {
    opacity: 1;
  }
  .language__item:nth-child(even) {
    justify-self: start;
  }
  .language__item:nth-child(odd) {
    justify-self: end;
  }
}

@media (max-width: 680px) {
  .language__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .language__item {
    box-shadow: 0px 0px 50px #e5e9f6;
  }
  .language__item:nth-child(n) {
    justify-self: center;
  }
}

@media (max-width: 360px) {
  .container {
    padding: 0 10px;
  }
  .language {
    padding: 30px 0;
  }
  .language__title {
    font-size: 40px;
    margin-bottom: 35px;
  }
  .language__item {
    max-width: 280px;
  }
  .language__item-img {
    max-width: 280px;
  }
  .language__item-title {
    font-size: 22px;
    margin-bottom: 14px;
  }
  .language__item-text {
    font-size: 14px;
    line-height: 19px;
  }
}
